# Ignore environment files (Security risk)
.env
*.env
config.ini

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/
*.log
logs/

# Ignore virtual environment folders
venv/
.env/
.venv/
*.egg-info/

# Ignore Jupyter Notebook checkpoints (If using Jupyter)
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml
*.sublime-workspace

# Ignore dependency lock files (Optional)
Pipfile.lock
poetry.lock
requirements.txt.lock

# Ignore large data files (Raw & Processed)
data/
datasets/
extracted_tsv/
extracted_quarters/
sec_data_zips/
temp_json_batches/
*.zip
*.tsv
*.json

# Ignore AWS & Snowflake credentials
.aws/
.snowflake/
credentials.yml
profiles.yml

# Ignore Logs
*.log
logs/

# Ignore Airflow & DBT cache files
airflow/logs/
airflow/plugins/
airflow/airflow-webserver.pid

dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

migrations/

# Ignore Docker overrides & volumes
docker-compose.override.yml
.airflow/
docker-volumes/
*.pid